<a
    onclick={{action this._onclick}}
    href={{this.href}}
    target={{this.target}}
    class="{{@classNames}} {{if this.isActive 'active'}}"
    ...attributes
>
    {{yield (hash
        active=this.isActive
    )}}
</a>
