{{#docs-viewer as |viewer|}}
    {{#viewer.nav as |nav|}}
        {{nav.section 'Introduction'}}
        {{nav.item 'What is this handbook?' 'docs'}}
        {{nav.item 'Assumptions and expectations' 'docs.assumptions'}}
        {{nav.item 'How to contribute' 'docs.contributing'}}

        {{nav.section 'Development'}}
        {{nav.item 'Quickstart' 'docs.quickstart'}}
        {{nav.item 'Git etiquette' 'docs.git'}}
        {{nav.item 'Dev environment' 'docs.dev-env'}}
        {{nav.item 'Coding conventions' 'docs.conventions'}}
        {{nav.item 'Testing' 'docs.testing'}}
        {{nav.item 'Engaging with the community' 'docs.community'}}
        {{nav.item 'Additional resources' 'docs.resources'}}

        {{nav.section 'Style guide'}}
        {{nav.item 'Visual style' 'docs.visual-style'}}
        {{nav.item 'Written style' 'docs.written-style'}}
    {{/viewer.nav}}

    {{#viewer.main}}
        <div class="docs-container">
            <div class="docs-section">
                {{outlet}}
            </div>
        </div>
    {{/viewer.main}}
{{/docs-viewer}}
